In [1]:
import pandas as pd
import json


filename = "race_data_168096594.json"

In [2]:
records = []


def try_parse_json(string):
    try:
        return json.loads(string), None
    except json.JSONDecodeError as e:
        return None, e


# Read and process the JSON file
with open(filename, "r") as file:
    buffer = ""
    for line in file:
        buffer += line.strip()
        parsed_json, error = try_parse_json(buffer)
        if parsed_json:
            buffer = ""  # Clear buffer if successful parse
            if parsed_json["op"] == "mcm":
                pt = parsed_json["pt"]
                for mc_item in parsed_json.get("mc", []):
                    market_id = mc_item["id"]
                    in_play = mc_item.get("marketDefinition", {}).get("inPlay", False)
                    for rc in mc_item.get("rc", []):
                        ltp = rc.get("ltp", 0)
                        tv = rc.get("tv", 0)
                        horse_id = rc["id"]
                        trades = rc.get("trd", [])  # Extract trade data as a list
                        # Append the record
                        records.append(
                            {
                                "timestamp_unix": pt,
                                "market_id": market_id,
                                "horse_id": horse_id,
                                "last_traded_price": ltp,
                                "traded_volume": tv,
                                "in_play": in_play,
                                "trades": trades,
                            }
                        )
        elif error and "Extra data" in str(error):  # Handle split JSON objects
            first_part, _, buffer = buffer.partition("}{")
            buffer = "{" + buffer  # Assume the split is between separate JSON objects
            first_part += "}"
            parsed_json, _ = try_parse_json(first_part)
            if parsed_json:  # Check if first part is a complete JSON object
                pt = parsed_json["pt"]
                for mc_item in parsed_json.get("mc", []):
                    market_id = mc_item["id"]
                    in_play = mc_item.get("marketDefinition", {}).get("inPlay", False)
                    for rc in mc_item.get("rc", []):
                        ltp = rc.get("ltp", 0)
                        tv = rc.get("tv", 0)
                        horse_id = rc["id"]
                        trades = rc.get("trd", [])  # Extract trade data as a list
                        # Append the record
                        records.append(
                            {
                                "timestamp_unix": pt,
                                "market_id": market_id,
                                "horse_id": horse_id,
                                "last_traded_price": ltp,
                                "traded_volume": tv,
                                "in_play": in_play,
                                "trades": trades,
                            }
                        )

In [3]:
# Convert records to a DataFrame
df = pd.DataFrame(records)

In [7]:
# Display the DataFrame
print(df.shape)
df.tail(50)

(35336, 7)

,timestamp_unix,market_id,horse_id,last_traded_price,traded_volume,in_play,trades
35286,1580573976488,1.168096594,22101589,1.02,304502.59,False,"[[1.02, 5881.06], [1.03, 9507.59], [1.04, 1367..."
35287,1580573976488,1.168096594,21848159,1000.00,78481.61,False,[]
35288,1580573976488,1.168096594,17596196,27.00,90785.35,False,"[[21, 8.98], [22, 102.78], [27, 5.82], [30, 0...."
35289,1580573977518,1.168096594,22023487,1000.00,28654.87,False,[]
35290,1580573977518,1.168096594,22972635,1000.00,23618.82,False,[]
35291,1580573977518,1.168096594,16927442,1000.00,13255.95,False,[]
35292,1580573977518,1.168096594,22101589,1.01,309231.75,False,"[[1.01, 100.32], [1.02, 9939.81], [1.03, 9841...."
35293,1580573977518,1.168096594,23405261,1000.00,9617.32,False,[]
35294,1580573977518,1.168096594,17596196,50.00,90791.33,False,"[[27, 9.22], [34, 0.39], [50, 2.27]]"
35295,1580573978505,1.168096594,22023487,1000.00,28654.96,False,"[[1000, 9.68]]"
35296,1580573978505,1.168096594,22046306,1000.00,34999.10,False,"[[1000, 2.04]]"
35297,1580573978505,1.168096594,14765349,1000.00,85659.74,False,"[[1000, 6.53]]"
35298,1580573978505,1.168096594,22972635,1000.00,23618.91,False,"[[1000, 2.44]]"
35299,1580573978505,1.168096594,16927442,1000.00,13256.48,False,"[[1000, 3.7]]"
35300,1580573978505,1.168096594,22101589,1.02,312966.95,False,"[[1.01, 3672.3], [1.02, 10099.03], [1.03, 9845..."
35301,1580573978505,1.168096594,23405261,1000.00,9617.42,False,"[[1000, 4.05]]"
35302,1580573978505,1.168096594,21848159,1000.00,78481.70,False,"[[1000, 1.8]]"
35303,1580573978505,1.168096594,17596196,120.00,90830.73,False,"[[46, 3.7], [50, 3.05], [55, 0.2], [60, 5.2], ..."
35304,1580573979496,1.168096594,16927442,1000.00,13256.48,False,[]
35305,1580573979496,1.168096594,22101589,1.02,313597.34,False,"[[1.01, 4191.61], [1.02, 10133.14], [1.03, 992..."
35306,1580573979496,1.168096594,17596196,100.00,90884.85,False,"[[27, 19.06], [34, 2.28], [38, 16], [46, 5.42]..."
35307,1580573980430,1.168096594,22023487,1000.00,28655.17,False,"[[1000, 9.89]]"
35308,1580573980430,1.168096594,22046306,1000.00,34999.31,False,"[[1000, 2.25]]"
35309,1580573980430,1.168096594,14765349,1000.00,85659.95,False,"[[1000, 6.74]]"
35310,1580573980430,1.168096594,22972635,1000.00,23619.12,False,"[[1000, 2.65]]"
35311,1580573980430,1.168096594,16927442,1000.00,13256.69,False,"[[1000, 3.91]]"
35312,1580573980430,1.168096594,22101589,1.01,316103.03,False,"[[1.01, 6467.77], [1.02, 10362.66]]"
35313,1580573980430,1.168096594,23405261,1000.00,9617.63,False,"[[1000, 4.26]]"
35314,1580573980430,1.168096594,21848159,1000.00,78481.91,False,"[[1000, 2.01]]"
35315,1580573980430,1.168096594,17596196,100.00,90901.86,False,"[[100, 13.95], [150, 1.2], [190, 6], [200, 1.7]]"
35316,1580573981510,1.168096594,22101589,1.01,319046.13,False,"[[1.01, 9353.46], [1.03, 9925.51], [1.04, 1657..."
35317,1580573981510,1.168096594,17596196,190.00,90912.46,False,"[[27, 19.08], [60, 8.54], [100, 18.59], [110, ..."
35318,1580573982508,1.168096594,22046306,1000.00,34999.31,False,[]
35319,1580573982508,1.168096594,14765349,1000.00,85664.99,False,"[[1000, 11.78]]"
35320,1580573982508,1.168096594,16927442,1000.00,13256.69,False,[]
35321,1580573982508,1.168096594,22101589,1.01,319705.78,False,"[[1.01, 10013.11]]"
35322,1580573982508,1.168096594,23405261,1000.00,9617.63,False,[]
35323,1580573982508,1.168096594,21848159,1000.00,78481.91,False,[]
35324,1580573982508,1.168096594,17596196,350.00,90952.25,False,"[[100, 23.14], [190, 7.7], [200, 6.02], [230, ..."
35325,1580573982974,1.168096594,22101589,1.01,320188.44,True,"[[1.01, 10495.77]]"
35326,1580573982974,1.168096594,17596196,350.00,90952.25,True,[]
35327,1580573985099,1.168096594,22023487,1000.00,28655.17,False,[]
35328,1580573985099,1.168096594,22046306,1000.00,34999.31,False,[]
35329,1580573985099,1.168096594,14765349,1000.00,85664.99,False,[]
35330,1580573985099,1.168096594,22972635,1000.00,23619.12,False,[]
35331,1580573985099,1.168096594,16927442,1000.00,13256.69,False,[]
35332,1580573985099,1.168096594,22101589,1.01,320188.44,False,[]
35333,1580573985099,1.168096594,23405261,1000.00,9617.63,False,[]
35334,1580573985099,1.168096594,21848159,1000.00,78481.91,False,[]
35335,1580573985099,1.168096594,17596196,350.00,90952.25,False,[]

In [10]:
# describe the dataframe

df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35336 entries, 0 to 35335
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   timestamp_unix     35336 non-null  int64
 1   market_id          35336 non-null  object
 2   horse_id           35336 non-null  int64
 3   last_traded_price  35336 non-null  float64
 4   traded_volume      35336 non-null  float64
 5   in_play            35336 non-null  bool
 6   trades             35336 non-null  object
dtypes: bool(1), float64(2), int64(2), object(2)
memory usage: 1.7+ MB

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35336 entries, 0 to 35335
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   timestamp_unix     35336 non-null  int64
 1   market_id          35336 non-null  object
 2   horse_id           35336 non-null  int64
 3   last_traded_price  35336 non-null  float64
 4   traded_volume      35336 non-null  float64
 5   in_play            35336 non-null  bool
 6   trades             35336 non-null  object
dtypes: bool(1), float64(2), int64(2), object(2)
memory usage: 1.7+ MB

In [9]:
# Save the DataFrame to a CSV file

df.to_csv("csv_files/race_data.csv", index=False)