In [8]:
import pandas as pd
import json


filename = "118771360_WIN_PRO.json"

In [9]:
records = []


def try_parse_json(string):
    try:
        return json.loads(string), None
    except json.JSONDecodeError as e:
        return None, e


# Read and process the JSON file
with open(filename, "r") as file:
    buffer = ""
    for line in file:
        buffer += line.strip()
        parsed_json, error = try_parse_json(buffer)
        if parsed_json:
            buffer = ""  # Clear buffer if successful parse
            if parsed_json["op"] == "mcm":
                pt = parsed_json["pt"]
                for mc_item in parsed_json.get("mc", []):
                    market_id = mc_item["id"]
                    in_play = mc_item.get("marketDefinition", {}).get("inPlay", False)
                    for rc in mc_item.get("rc", []):
                        ltp = rc.get("ltp", 0)
                        tv = rc.get("tv", 0)
                        horse_id = rc["id"]
                        # Extract trade data as a list
                        trades = rc.get("trd", [])
                        # Append the record
                        records.append(
                            {
                                "timestamp_unix": pt,
                                "market_id": market_id,
                                "horse_id": horse_id,
                                "last_traded_price": ltp,
                                "traded_volume": tv,
                                "in_play": in_play,
                                "trades": trades,
                            }
                        )
        elif error and "Extra data" in str(error):  # Handle split JSON objects
            first_part, _, buffer = buffer.partition("}{")
            # Assume the split is between separate JSON objects
            buffer = "{" + buffer
            first_part += "}"
            parsed_json, _ = try_parse_json(first_part)
            if parsed_json:  # Check if first part is a complete JSON object
                pt = parsed_json["pt"]
                for mc_item in parsed_json.get("mc", []):
                    market_id = mc_item["id"]
                    in_play = mc_item.get("marketDefinition", {}).get("inPlay", False)
                    for rc in mc_item.get("rc", []):
                        ltp = rc.get("ltp", 0)
                        tv = rc.get("tv", 0)
                        horse_id = rc["id"]
                        # Extract trade data as a list
                        trades = rc.get("trd", [])
                        # Append the record
                        records.append(
                            {
                                "timestamp_unix": pt,
                                "market_id": market_id,
                                "horse_id": horse_id,
                                "last_traded_price": ltp,
                                "traded_volume": tv,
                                "in_play": in_play,
                                "trades": trades,
                            }
                        )

In [10]:
# Convert records to a DataFrame
df = pd.DataFrame(records)

In [11]:
# Display the DataFrame
print(df.shape)
df.tail(50)

(99545, 7)

,timestamp_unix,market_id,horse_id,last_traded_price,traded_volume,in_play,trades
99495,1431699557120,1.118771360,5465145,0.00,0.0,False,[]
99496,1431699557143,1.118771360,7401388,0.00,0.0,False,[]
99497,1431699557143,1.118771360,3415981,0.00,0.0,False,[]
99498,1431699557143,1.118771360,5105924,0.00,0.0,False,[]
99499,1431699557143,1.118771360,8421889,0.00,0.0,False,[]
99500,1431699557143,1.118771360,5465145,0.00,0.0,False,[]
99501,1431699557221,1.118771360,7401388,0.00,0.0,False,[]
99502,1431699557221,1.118771360,3415981,0.00,0.0,False,[]
99503,1431699557221,1.118771360,5105924,0.00,0.0,False,[]
99504,1431699557221,1.118771360,7560122,0.00,0.0,False,[]
99505,1431699557221,1.118771360,8421889,0.00,0.0,False,[]
99506,1431699557333,1.118771360,5105924,0.00,0.0,False,[]
99507,1431699557333,1.118771360,8421889,0.00,0.0,False,[]
99508,1431699557333,1.118771360,5465145,0.00,0.0,False,[]
99509,1431699557533,1.118771360,5105924,0.00,0.0,False,[]
99510,1431699557533,1.118771360,7560122,0.00,0.0,False,[]
99511,1431699557590,1.118771360,5105924,0.00,0.0,False,[]
99512,1431699557590,1.118771360,8421889,0.00,0.0,False,[]
99513,1431699558964,1.118771360,7401388,0.00,0.0,False,[]
99514,1431699558964,1.118771360,3415981,0.00,0.0,False,[]
99515,1431699558964,1.118771360,5105924,0.00,0.0,False,[]
99516,1431699558964,1.118771360,7560122,0.00,0.0,False,[]
99517,1431699558964,1.118771360,8421889,0.00,0.0,False,[]
99518,1431699558964,1.118771360,5465145,0.00,0.0,False,[]
99519,1431699667478,1.118771360,7560122,0.00,0.0,False,[]
99520,1431699727198,1.118771360,3415981,0.00,0.0,False,[]
99521,1431699764800,1.118771360,7401388,0.00,0.0,False,[]
99522,1431699764800,1.118771360,7401388,0.00,0.0,False,[]
99523,1431699764800,1.118771360,7401388,440.00,0.0,False,"[[440, 0], [32, 0], [23, 0], [150, 0], [48, 0]..."
99524,1431699764800,1.118771360,3415981,0.00,0.0,False,[]
99525,1431699764800,1.118771360,3415981,0.00,0.0,False,[]
99526,1431699764800,1.118771360,3415981,15.00,0.0,False,"[[15, 0], [440, 0], [370, 0], [32, 0], [23, 0]..."
99527,1431699764800,1.118771360,5105924,0.00,0.0,False,[]
99528,1431699764800,1.118771360,5105924,0.00,0.0,False,[]
99529,1431699764800,1.118771360,5105924,2.12,0.0,False,"[[2.12, 0], [1.75, 0], [3.05, 0], [11, 0], [4...."
99530,1431699764800,1.118771360,7560122,0.00,0.0,False,[]
99531,1431699764800,1.118771360,7560122,0.00,0.0,False,[]
99532,1431699764800,1.118771360,7560122,1.30,0.0,False,"[[1.3, 0], [1.75, 0], [2.12, 0], [1.18, 0], [2..."
99533,1431699764800,1.118771360,8421889,0.00,0.0,False,[]
99534,1431699764800,1.118771360,8421889,0.00,0.0,False,[]
99535,1431699764800,1.118771360,8421889,32.00,0.0,False,"[[32, 0], [2.84, 0], [5.9, 0], [3.05, 0], [11,..."
99536,1431699764800,1.118771360,5465145,0.00,0.0,False,[]
99537,1431699764800,1.118771360,5465145,0.00,0.0,False,[]
99538,1431699764800,1.118771360,5465145,15.00,0.0,False,"[[15, 0], [440, 0], [32, 0], [23, 0], [150, 0]..."
99539,1431699766729,1.118771360,7401388,0.00,0.0,False,[]
99540,1431699766729,1.118771360,3415981,0.00,0.0,False,[]
99541,1431699766729,1.118771360,5105924,0.00,0.0,False,[]
99542,1431699766729,1.118771360,7560122,0.00,0.0,False,[]
99543,1431699766729,1.118771360,8421889,0.00,0.0,False,[]
99544,1431699766729,1.118771360,5465145,0.00,0.0,False,[]

In [12]:
# describe the dataframe

df.describe()

       timestamp_unix      horse_id  last_traded_price  traded_volume
count    9.954500e+04  9.954500e+04       99545.000000   99545.000000
mean     1.431691e+12  6.367231e+06           5.493305    4299.136051
std      1.974163e+07  1.642249e+06          52.711130   13884.807337
min      1.431517e+12  3.415981e+06           0.000000       0.000000
25%      1.431692e+12  5.105924e+06           0.000000       0.000000
50%      1.431699e+12  5.465145e+06           0.000000       0.000000
75%      1.431699e+12  7.560122e+06           0.000000       0.000000
max      1.431700e+12  8.421889e+06        1000.000000  449236.930000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99545 entries, 0 to 99544
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   timestamp_unix     99545 non-null  int64
 1   market_id          99545 non-null  object
 2   horse_id           99545 non-null  int64
 3   last_traded_price  99545 non-null  float64
 4   traded_volume      99545 non-null  float64
 5   in_play            99545 non-null  bool
 6   trades             99545 non-null  object
dtypes: bool(1), float64(2), int64(2), object(2)
memory usage: 4.7+ MB

In [14]:
# Save the DataFrame to a CSV file

df.to_csv("csv_files/win_data_pro.csv", index=False)